 /* Bordered form */
 form {
    /* border: 3px solid #f1f1f1; */
  }
  
  body {
      font-family: "Roboto", sans-serif;
      margin-top: 10px;
  }
  

  input[type=text], input[type=password] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
  }
  
  

  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    border-radius: 5px;
  }
  

  button:hover {
    opacity: 0.8;
  }
  
  
  

  .container, #registrationSuccess {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  }
  